{% extends "layout.html" %}
{% block content %}
    <h2>Admin Panel</h2>
    <h3>Текущая цена токена: {{ token_price }} USD</h3>
    <form method="POST" action="{{ url_for('main.buy_token') }}">
        <label>Имитация покупок валюты</label>
        <label>
            <input type="number" name="emission_amount" placeholder="Введите количество токенов">
        </label>
        <button type="submit">Buy</button>
    </form>
    <form method="POST" action="{{ url_for('main.burn_emission') }}">
        <label>Сжечь токены (пока в общем, позже - только со своего кошелька)</label>
        <label>
            <input type="number" name="burn_amount" placeholder="Введите количество токенов">
        </label>
        <button type="submit">Burn</button>
    </form>
    <form method="POST" action="{{ url_for('main.mint_emission') }}">
        <label>Выпуск новой эмиссии</label>
        <label>
            <input type="number" name="mint_amount" placeholder="Введите количество токенов">
        </label>
        <button type="submit">Mint</button>
    </form>
    <h3>Users</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} ({{ user.email }})</li>
        {% endfor %}
    </ul>

    <h3>Arts</h3>
    <ul>
        {% for art in arts %}
            <li>{{ art.metadata }} - {{ art.status }}</li>
        {% endfor %}
    </ul>
{% endblock %}
