{% extends "layout.html" %}
{% block content %}
    <h2>Admin Panel</h2>
    <h3>Текущая цена RYT: {{ token_price }} USD</h3>
    <form method="POST" action="{{ url_for('main.mint_emission') }}">
        <label>Выпуск новой эмиссии</label><br>
        <label>
            <input type="number" name="mint_amount" placeholder="Количество RYT">
        </label>
        <button type="submit">Mint</button>
    </form>
    <h3>Users</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} ({{ user.email }})</li>
        {% endfor %}
    </ul>

    <h3>Arts</h3>
    <ul>
        {% for art in arts %}
            <li>{{ art.art_metadata }} - {{ art.status }}</li>
        {% endfor %}
    </ul>
    <h3>Выдать токены пользователю</h3>
    <form method="POST" action="{{ url_for('main.give_tokens') }}">
        <label for="user_id">Пользователь:</label>
        <select name="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }} ({{ user.email }})</option>
            {% endfor %}
        </select><br>
        <label for="amount">Сколько токенов:</label>
        <input type="number" name="amount" min="1" required><br>
        <button type="submit">Выдать</button>
    </form>

{% endblock %}
